* {
    font-family: 黑体;


    line-height: 1;
    border: 0;

    padding: 0;
    margin: 0;

    flex-wrap: wrap;

    box-sizing: border-box;
}

/*整个大盒子*/
.main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
}

/*小盒子*/
.basicBlock {
    width: 100%;
    display: flex;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
    padding: 3vw 3.6vw 4vw 5vw;
}

/*左半边*/
.leftContent {
    width: 10vw;
    height: 100%;
}

/*头像*/
.avatar {
    display: inline-block;
    height: 10vw;
    width: 10vw;
    border-radius: 1.5vw;
    background-color: skyblue;
}

/*右半边*/
.rightContent {
    margin-left: 3vw;
    height: 100%;
}

/*用户名*/
.userName {
    color: #5b6d95;
    font-size: 4vw;
    margin-top: 0.93vw;
}

/*用户信息*/
.userMessage{
    margin-top: 2.5vw;
    color: #1a1a1a;
    font-size: 4vw;
}
/*发送时间*/
.sendTime{
    font-size: 3vw;
    margin-top: 3vw;
    color: #b1b1b3;
}